*.o
*.pb
*.dbg
*.xdbg
*.mem
*.reloc
*.rtti
*.svtype
*.type
*.sdb
*.wdb
*.xpr
*.lpr
mel.cache/
mel.hw/
mel.ip_user_files/
mel.sim/sim_1/behav/xsim/xsim.dir
.DS_Store 
*.wpc
*.db
*.bat
*.prj
*.ini
*.tcl
mel.sim/sim_1/behav/xsim/glbl.v
mel.sim/sim_1/behav/xsim/xvlog.log
